html
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after
{
    box-sizing: inherit;
    /* Resets and gets rid of annoying white space */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #f0f0f0;
}

h1,h2
{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    color: #f0f0f0;
    font-size: 4.5rem;
}

section{
    background-color: cadetblue;
    text-align: center;
}

header{
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

@media screen and (max-width: 600px) {
    h1,h2 {
      font-size: 2rem;
    }
}

/* --Navigation-- */

#navigation
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    font-style: none;
    font-weight: bold;
    background-color: #be3144;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 999999;
}

@media screen and (max-width: 800px) {
    #navigation {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
}
.nav-list
{
    margin: 0 1rem;
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

.nav-list a
{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1rem;
    padding-right: 2rem;
    color: #f0f0f0;
}

@media screen and  (max-width: 600px) {
    .nav-list a {
      font-size: 1.2rem;
      padding: 0.5rem;
      padding-right: 0.5rem;
      margin: 0;
    }
}

.nav-list :hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

/* Welcome/About */
section#welcome-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #303841;
    background-image: url(./me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
@media screen and  (min-width: 1440px) {
    section#welcome-section {
      background-size: 100%;
    }
}


#welcome-section p
{
    text-align: center;
    color: lightcoral;
}

h2#skills-title
{
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

section#skills
{
    width: 100%;
    height: 100%;
}
/* -------------------------------------------------About Section--------------------------------------- */

div.about-container{
    display: grid;
    /* border: 1px solid crimson; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ; 
    row-gap: 9rem;
}

#my-photo
{
    grid-row: span 2;
}


.about-container i {
    color: #be3144;
}
.about-me{
    border: 2px solid red;
}

.about-me img{
    transform: scale(0.2);
}
.about-me ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 1px solid slateblue;
}

.about-item
{
    text-align: start;
    font-size: 1.2rem;
}
.about-item i{
    color: black;
}


/* --------------------------------------------------Project section------------------------------------*/
section#Projects
{
    padding-top: 5.5rem;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    width: 100%;
    overflow: hidden;
}

#Projects header
{
    font-size: 3rem;
    font-weight: 600;
    text-shadow: inherit;
}

.project-grid
{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    grid-template-columns: minmax(0, 1fr) 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 3rem;
    row-gap: 4rem;
}

.project-grid img
{
   max-width: 100%;
   image-rendering: optimizeSpeed;
}

.project-grid a
{
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.Project-title
{
    font-size: 2rem;
    padding: 1rem;
    margin-top: -.7rem;
    color: white;
    background-color: teal;
}


.project-grid  :hover ~ .Project-title
{
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.1);
    transition: all 0.4s;
}

.Project-title:hover
{
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.1);
    transition: all 0.4s;
}

@media screen and (max-width: 700px) {
    .Project-title
    {
        padding: 1 0 1 0;
        font-size: 2rem;
    }
    .project-grid
    {
        width: 100%;
        grid-template-columns: minmax(0,1fr);
        margin: 3rem 0 0 0;
    }
    h2#skills-title
{
    font-size: 2.5rem;
    background-color: cadetblue;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
}

/* Contact Section */

#contact
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(31, 25, 25);
   width: 100%;
   height: 50vh;
}

#joke
{
    font-style: italic;
}

#contact-title
{
    font-size: 5rem;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/* Icon/Links */
.contact-links
{
    width: 90%;
    margin-top: 3rem;
}
.contact-links a
{
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
    transition: all 0.3s ease;
    /* background-color: red; */
}

.contact-details:hover
{
    transition: all 0.3s;
    transform: translateY(100px);
    background-color: rebeccapurple;
}

@media screen and (max-width: 700px) {
    #contact
    {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    #contact-title
    {
        font-size: 2rem;
    }
    .contact-links
    {
        margin-bottom: 2rem;
    }
    .contact-links a
    {
        background-color: rebeccapurple;
        padding: 10px;
        margin-right: 20px;
        border-radius: 50%;
    }
}
