html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

.top
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    color: white;
    font-size: 100px;
    text-decoration: violet;
    letter-spacing: 2px;
    padding: 20px;
    text-shadow: 2px 2px black;
    background-color: rgba(0,0,0,0.5);
    
}

a
{
    color: white;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;

    background: rgba(0,0,0,0.2);
    transition: all 0.5s;
    border: 1px solid black;
}

body
{
    margin: 0;
    background-image: linear-gradient(270deg, orange, purple);
    font-family: sans-serif;
} 

input
{
    display: inline-flex;
}


.wrapper
{
    max-width: 1200px;
    margin: auto;
}

.flex-nav ul
{
    list-style: none;
    display: flex;
    padding-right: 40px;
    /* border: 1px solid black; */
    background: rgba(0,0,0,0);
    
}

.flex-nav li
{
    flex:   1;
} 

footer
{
    display: flex;
    font-weight: bold;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 15px;
    margin: auto;
    justify-content: center;
    border: 1px solid gold;
}

header
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 200%;
    border: none;
    background-color: rgba(0,0,0,0);
}

.hero
{
    display: flex;
    justify-content: center;
}

img
{
    width: 100%;
}

.toggle
{
    display: none;
    border: 2px solid rgb(236, 229, 229);
    background-color: rgba(0,0,0,0.5);
}

/* HOVER ACTION */
.flex-nav li :hover
{
    background-color: rgba(0,0,0,0);
    
}


@media all and (max-width: 1000px)
{
    .flex-nav ul
    {
        flex-wrap: wrap;
    }
    
    .flex-nav li
    {
        flex: 1 1 50%;
    }

    .flex-nav .social
    {
        flex: 1 1 50%;
    }

}

@media all and (max-width: 500px)
{
    /* Selects all childs of wrappr */
    .wrapper > *
    {
        order: 9999;
    }

    .flex-nav
    {
        order: 1;
    }
    .flex-nav li
    {
        flex-basis: 100%;

    }
    .wrapper
    {
        display: flex;
        flex-direction: column;
    }
    
    .toggle
    {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .flex-nav ul
    {
        display: none;
    }
    .flex-nav ul.open
    {
        display: flex;
    }

}